html,
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  background: #111111;
}

body::-webkit-scrollbar {
  display: none;
}

/*##### Bootstrap #####*/

.container-lg {
  padding-left: 4rem;
  padding-right: 4rem;
}

/*##### Navbar #####*/

.autohide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  font-size: 1.6em;
  height: 4em;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 300ms ease;
  transition-delay: 200ms;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 500ms ease;
  transition-delay: 200ms;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #a6dde8 !important;
}

.nav-link:active {
  color: #0b7485 !important;
}

.nav-item {
  padding-right: 2em;
}

.nav-item:last-child {
  padding-right: 0;
}

/*##### Hero #####*/

.hero {
  height: 100vh;
  background-color: #111111;
  background-image: url('assets/images/hero-wallpaper.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

.hero h1 {
  font-size: 6em;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 2px solid #fff;
  margin-top: 1em;
  padding: 1em;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
}

.btn:active {
  opacity: 0.6;
}

.content--dark {
  height: 30vh;
  background-color: #111111;
}

.content--light {
  height: 30vh;
  background-color: #161616;
}
