html,
body {
  font-family: 'Arial', sans-serif;
  color: #fff;
  background: #111111;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  font-size: 1.6em;
  height: 4em;
}

.nav-link {
  color: white!important;
}

.nav-link:hover {
  color: #a6dde8!important;
}

.nav-link:active {
  color: #0B7485!important;
}

.nav-item {
  padding-right: 2em;
}

.nav-item:last-child {
  padding-right: 0;
}

.hero {
  height: 100vh;
  background-color: #111111;
  background-image: url('assets/images/hero-wallpaper.jpg');
  background-size: cover;
  background-blend-mode:soft-light;
}

.hero h1 {
  font-size: 6em;
}

.btn {
  background-color: #FFF;
  color: #000;
  border: 2px solid white;
  margin-top: 1em;
  padding: 1em;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #FFF;
  border: 2px solid #FFF;
}

.btn:active {
  opacity: 0.6;
}

.content {
  height: 200px;
  background-color: #212121;
}